form.md-whiteframe-z2(layout-padding layout="column"
                      style="background: #fff")
    md-input-container
        label="Email (обязательно)"
        input(ng-model="main.email" type="email" required="true")
    md-input-container
        label="Пароль"
        input(ng-model="main.password" type="password")
    md-input-container
        label="Имя"
        input(ng-model="main.name")
    md-button.md-primary(md-no-ink ng-click="main.register()") Регистрация
