doctype html
html(lang="ru", ng-app="client")
    head
        title=title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic")
        link(rel="stylesheet" href="angular-material/angular-material.css")
        link(rel="stylesheet" href="assets/client.css")

    body(layout="row")
        div(flex layout="column" tabIndex="-1")
            md-toolbar.md-whiteframe-z1(layout="row")
                .md-toolbar-tools
                    span(flex)
                    include ../client/user/menu.jade
            md-content#content(flex ng-view layout="row" layout-align="center center"
                               style="background-image:url(/assets/png/city08.png); background-size: 100% auto")

// load packages
script(src="angular/angular.js")
script(src="angular-animate/angular-animate.js")
script(src="angular-aria/angular-aria.js")
script(src="angular-material/angular-material.js")
script(src="angular-route/angular-route.js")
script(src="angular-local-storage/dist/angular-local-storage.min.js")

script(src="init.js")
script(src="routes.js")
script(src="user/controller.js")
script(src="user/token_service.js")
block js
